In [1]:
import pandas as pd

In [42]:
dict1 ={'Name':['Priyang','Aadhya','Krisha','Vedant','Parshv',
                'Mittal','Archana'],
                'Marks':[98,89,99,87,90,83,99],
                'Gender':['Male','Female','Female','Male','Male',
                         'Female','Female']
               }
df1=pd.DataFrame(dict1)
df1

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2   Krisha     99  Female
3   Vedant     87    Male
4   Parshv     90    Male
5   Mittal     83  Female
6  Archana     99  Female

1. Display top 3 rows of the dataset

In [3]:
df1.head(3)

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2   Krisha     99  Female

2. Check last 3 rows of the dataset

In [5]:
df1.tail(3)

      Name  Marks  Gender
4   Parshv     90    Male
5   Mittal     83  Female
6  Archana     99  Female

3. Find the shape of the dataset

In [8]:
df1.shape

(7, 3)

4. Get information about the dataset like total no. of rows, total no. of columns, datatype of each column and memory requirement

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Marks   7 non-null      int64
 2   Gender  7 non-null      object
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

5. Check null value in the dataset

In [11]:
df1.isnull().sum()

Name      0
Marks     0
Gender    0
dtype: int64

6. Give overall stats about dataset

In [13]:
df1.describe(include='all')

           Name      Marks  Gender
count         7   7.000000       7
unique        7        NaN       2
top     Priyang        NaN  Female
freq          1        NaN       4
mean        NaN  92.142857     NaN
std         NaN   6.491753     NaN
min         NaN  83.000000     NaN
25%         NaN  88.000000     NaN
50%         NaN  90.000000     NaN
75%         NaN  98.500000     NaN
max         NaN  99.000000     NaN

7. Find unique values from the gender column

In [15]:
df1['Gender'].unique()

array(['Male', 'Female'], dtype=object)

8. Find the no. of unique value from the gender column

In [16]:
df1['Gender'].nunique()

2

9. Display count of unique value in gender column.

In [17]:
df1['Gender'].value_counts()

Female    4
Male      3
Name: Gender, dtype: int64

10. Find total of students having marks between 90 to 100 (inclusive) using between method

In [22]:
len(df1[df1['Marks'].between(90,100, inclusive='both')])

4

11. Find average marks

In [23]:
df1['Marks'].mean()

92.14285714285714

12. Apply method

In [26]:
def marks(x):
  return x/2
df1['Half_Marks']=df1['Marks'].apply(marks)
df1

      Name  Marks  Gender  Half_Marks
0  Priyang     98    Male        49.0
1   Aadhya     89  Female        44.5
2   Krisha     99  Female        49.5
3   Vedant     87    Male        43.5
4   Parshv     90    Male        45.0
5   Mittal     83  Female        41.5
6  Archana     99  Female        49.5

In [27]:
df1['Marks'].apply(lambda x:x//2)

0    49
1    44
2    49
3    43
4    45
5    41
6    49
Name: Marks, dtype: int64

13. Map function

In [31]:
df1['Gender_Encoded']=df1['Gender'].map({'Male':1,'Female':0})
df1

      Name  Marks  Gender  Half_Marks  Gender_Encoded
0  Priyang     98    Male        49.0               1
1   Aadhya     89  Female        44.5               0
2   Krisha     99  Female        49.5               0
3   Vedant     87    Male        43.5               1
4   Parshv     90    Male        45.0               1
5   Mittal     83  Female        41.5               0
6  Archana     99  Female        49.5               0

14. Drop the columns

In [37]:
df1.drop(['Half_Marks', 'Gender_Encoded'], axis = 1, inplace= True)

15. Print the names of the column

In [38]:
df1.columns

Index(['Name', 'Marks', 'Gender'], dtype='object')

16. Sort the dataframe as per the marks column.

In [39]:
df1.sort_values(by='Marks', ascending=False)

      Name  Marks  Gender
2   Krisha     99  Female
6  Archana     99  Female
0  Priyang     98    Male
4   Parshv     90    Male
1   Aadhya     89  Female
3   Vedant     87    Male
5   Mittal     83  Female

17. Display name and mark of the female students

In [48]:
df1[df1['Gender'] == 'Female'][['Name','Marks']]

      Name  Marks
1   Aadhya     89
2   Krisha     99
5   Mittal     83
6  Archana     99